.header-init{
    display: flex;
    background-color: #0A2455;

}
.header-init .sub-container{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.sub-container .containerP{
    display: flex;
    justify-content:  space-between;
    color: #fff;
    width: 400px;
    cursor: pointer;
    position: relative;

}

.containerP :before{
    position: absolute;
    content:" ";
    margin-top: 25px;
    height: 2px;
    width: 0px;
    background-color: yellow;
}
.containerP p:hover:before{
    position: absolute;
    content:" ";
    transition: 1s;
    margin-top: 25px;
    height: 2px;
    width: 30px;
    background-color: yellow;
}





.sub-container #logo{
    height: 90px;
    border-radius: 15px;
    margin-left: -100px;


}


.sub-container #btn{
    height:50px;
    width: 150px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;

    transition: 0.5s;
}

#btn:hover{
    scale:1.03;
    cursor: pointer;
    transition: 0.5s;
}